In [1]:
import pandas as pd
from sqlalchemy import create_engine

xls = pd.ExcelFile('Superstore.xls')
orders = pd.read_excel(xls, 'Orders')
returns = pd.read_excel(xls, 'Returns')
people = pd.read_excel(xls, 'People')
stateabbr = pd.read_csv('statetable.csv')

In [2]:
engine = create_engine('postgres://postgres:N4$hville@localhost:5432/Superstore')
connection = engine.connect()

In [3]:
orders.to_sql(name='orders', con=engine, index=False)

ValueError: Table 'orders' already exists.

In [ ]:
returns.to_sql(name='returnstable', con=engine, index=False)

In [4]:
people.to_sql(name='people', con=engine, index=False)

ValueError: Table 'people' already exists.

In [5]:
stateabbr.to_sql(name='state_names_and_abbreviations', con=engine, index=False)